@model MammaaksaApp.Models.Mamaaksa

@{
    ViewData["Title"] = "Ida;i";
}

<h1>Mammaksa Ida'i</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="gaaffii" class="control-label"></label>
                <input asp-for="gaaffii" class="form-control" />
                <span asp-validation-for="gaaffii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deebii" class="control-label"></label>
                <input asp-for="deebii" class="form-control" />
                <span asp-validation-for="deebii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Ida'i'" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-action="Index"  style="margin:300px;">Debbi'i </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
